body {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color:black;
}
/* <header> */

header {
    width: 65%;
    margin: auto;
    height: 4vw;
}
img {
    width: 100%;
}
.orno_logo {
    width: 3.5%;
    margin-top: 0.3vw;
    position: absolute;
}
.orno_logo:hover {
    transform: scale(1.1);
}

.search_city {
    width: 22vw;
    height: 1.8vw;
    position: absolute;
    font-size: 0.7vw;
    border-radius: 0.2vw;
    margin-top: 1vw;
    margin-left: 8vw;
    border:1px solid black;
}
div[class^="button"] {
  
    border: none;
    color: white;
    padding: 0.6vw 1.2vw;
    text-align: center;
    text-decoration: none;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
}
div[class^="button"]:hover {
    opacity: 0.8;
}
.button1 {
    background-color: #EF781A; 
    margin-top: 0.85vw;
    margin-left: 53vw;
}  
.button2 {
    background-color: #00D008; 
    margin-top: 0.85vw;
    margin-left: 58.8vw;
}
.line {
    border-bottom:1px solid rgb(212, 210, 210) ;

}

/* </header> */

/* <main> */

.grid_block1 {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 18vw 3vw;
    grid-auto-rows: 13vw;
    gap:1vw;
    margin: auto;
    margin-top: 1vw;
}
.grid_block1>div:hover {
    box-shadow: 0px 0px 6px rgb(88, 86, 86);
    cursor: pointer;
}
.grid_block2>div:hover {
    box-shadow: 0px 0px 6px rgb(88, 86, 86);
    cursor: pointer;
}
.grid_block1>div:nth-child(1) {
    grid-column: 1/4;
    background-color: #FFD086;
    border-radius: 0.7vw;
}
.grid_block1>div:nth-child(2):hover, .grid_block2>div:nth-child(1):hover {
    box-shadow: none;
    cursor:auto;
}
.grid_block1>div:nth-child(2) {
    grid-column: 1/4;
}
.grid_block1>div:nth-child(16):hover,.grid_block1>div:nth-child(17):hover {
    box-shadow: none;
    cursor:auto;
}

/* pizza block */

.text1 {
    width: 32vw;
    font-size: 1.7vw;
    position: absolute;
    margin-top: 6vw;
    margin-left: 3vw;
    font-weight: bold;
}
.text2 {
    width: 24vw;
    font-size: 0.95vw;
    position: absolute;
    margin-top: 11vw;
    margin-left: 3vw;
}
.text1:hover, .text2:hover {
    text-shadow: 0px 0px 2px white;
}

.pizza {
    width: 30%;
    margin-top: -1vw;
    margin-left: 33vw;
    position: absolute;
}
.pizza:hover {
    transform:scale(1.01);
}
/* pizza block end */

h1, h2 {
    width: 10vw;
    font-size: 1.7vw;
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0vw;
    font-weight: bold;
}
.search_resto {
    width: 25vw;
    height: 2.2vw;
    margin-top: 0.45vw;
    margin-left: 39.2vw;
    position: absolute;
    font-size: 0.7vw;
    border-radius: 0.3vw;
    border:1px solid rgb(143, 142, 142);
}
div[class^="resto"] {
    border-bottom:6vw solid rgb(255, 255, 255);
    border-radius: 0.5vw;
    box-shadow: 0px 2px 2px rgb(107, 100, 100);
}
.resto1 {
    background-image:url(./img/mac.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto2 {
    background-image:url(./img/mafia.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto3 {
    background-image:url(./img/kfc.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto4 {
    background-image:url(./img/pizza_house.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto5 {
    background-image:url(./img/rucola.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto6 {
    background-image:url(./img/lviv_croissans.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto7 {
    background-image:url(./img/mamamia.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto8 {
    background-image:url(./img/hlebniy.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto9 {
    background-image:url(./img/time_cafe.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto10 {
    background-image:url(./img/salatereia.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto11 {
    background-image:url(./img/green13.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto12 {
    background-image:url(./img/vapiano.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto13 {
    background-image:url(./img/papa_jon.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.grid_block2 {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:3vw;
    grid-auto-rows: 13vw;
    gap:1vw;
    margin: auto;
    margin-top: 1vw;
}
.grid_block2>div:nth-child(1) {
    grid-column: 1/4;
}
.resto14 {
    background-image:url(./img/fora.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto15 {
    background-image:url(./img/atb.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto16 {
    background-image:url(./img/silpo.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.resto17 {
    background-image:url(./img/eva.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -1vw -2vw;
}
.popular {
    width: 6vw;
    height: 1.2vw;
    background-color: #FF800C;
    padding: 0.4vw 1.2vw;
    text-decoration: none;
    text-align: center;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
    color: white;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
.free {
    width: 7vw;
    height: 2vw;
    background-color: #FF0C0C;
    padding: 0.4vw 1.2vw;
    text-decoration: none;
    text-align: center;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
    color: white;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
.chicken {
    width: 12vw;
    height: 1vw;
    background-color: #FF0C0C;
    padding: 0.4vw 1.2vw;
    text-decoration: none;
    text-align: center;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
    color: white;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}
.subtitle {
    width: 20vw;
    height: 2vw;
    margin-top: 7.5vw;
    margin-left: 0.7vw;
    font-size: 1.25vw;
    font-weight: bold;
}
.subtitle:hover {
    font-size: 1.3vw;
}
.popular:hover, .free:hover, .chicken:hover {
    box-shadow: 0px 0px 3px white;
}

.time {
    width: 5vw;
    height: 1.2vw;
    background-color: #FE7D34;
    padding: 0.4vw 0.1vw 0.4vw 1.2vw;
    text-decoration: none;
    text-align: right;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
    color: black;
    margin-top: 0.3vw;
    margin-left: 0.7vw;
    background-image: url(./img/ves.png);
    background-repeat: no-repeat;
    background-size: 21%;
    background-position: 0.3vw 0.21vw;
}
.cost {
    width: 4vw;
    height: 1.2vw;
    background-color: #00D008;
    padding: 0.4vw 0.1vw 0.4vw 1.4vw;
    text-decoration: none;
    text-align: right;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
    color: black;
    margin-top: 0.3vw;
    margin-left: 8vw;
    background-image: url(./img/moto.png);
    background-repeat: no-repeat;
    background-size: 37%;
}
.cost2 {
    width: 3.9vw;
    height: 1.2vw;
    background-color: #00D008;
    padding: 0.4vw 0.1vw 0.4vw 0.9vw;
    text-decoration: none;
    text-align: right;
    font-size: 0.8vw;
    font-weight: bold;
    border-radius: 0.2vw;
    position: absolute;
    color: black;
    margin-top: 0.3vw;
    margin-left: 8vw;
    background-image: url(./img/moto.png);
    background-repeat: no-repeat;
    background-size: 37%;
}


/* </main> */

/* <footer> */
footer {
    margin-top: 13vw;
    width: 100%;
    height: 4vw;
    background: linear-gradient(to right, #313130, #070707);
}
.foot {
    width: 65%;
    margin: auto;
    height: 4vw;
}
ul {
    width: 20vw;
    margin-left: -3vw;
    display: flex;
    list-style-type: none;
    
}
ul>li {
    margin-right: 2.5vw;
    padding-top: 1.5vw;
    font-size: 0.8vw;
    color: white;
}
ul>li>a {
    color: white;
}
ul>li>a:hover {
    color:rgb(202, 194, 202);
    text-shadow: 0 px 0px 1px white;
}
.telegram {
    z-index: 3;
    width: 2vw;
    height: 2vw;
    margin-top: -2.9vw;
    margin-left: 71vw;
    background-color: #2F89CE;
    border-radius: 50%;
    background-image: url(./img/telegram.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0.36vw 0.45vw;
    position: absolute;
}
.facebook {
    z-index: 2;
    width: 2vw;
    height: 2vw;
    margin-top: -2.9vw;
    margin-left: 74vw;
    background-color: #4E6297;
    border-radius: 50%;
    background-image: url(./img/facebook.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0.428vw 0.41vw;
    position: absolute;
}
.instagram {
    z-index: 1;
    width: 2vw;
    height: 2vw;
    margin-top: -2.9vw;
    margin-left: 77vw;
    background-color: rgb(231, 13, 231);
    border-radius: 50%;
    background-image: url(./img/instagram.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0.427vw 0.41vw;
    position: absolute;
}
.facebook:hover, .instagram:hover, .telegram:hover {
    box-shadow: 0px 0px 3px white;
}
/* </footer> */

